<?PHP $page='cv'; include("header.inc.php"); ?>

<h3>Curriculum Vitae</h3>
<img src="img/cvfull.gif" alt="Curriculum Vitae" width="92" height="75" border="0" class="intro" title="Curriculum Vitae">
<p>This CV is also available as a word document, if you would like a copy mailing to you, 
please use the <a href="contact.php">Contact Form</a> to request one.</p>

<h3 style="clear:both;">Profile</h3>
<p>An IT developer with over 5 years commercial programming experience, capable of developing for both the web and desktop, using a range of languages including .NET, VBScript, PHP and Delphi. Extensive experience of using relational database systems MSSQL and MySQL. Highly enthusiastic with a keen interest in expanding knowledge and always improving on technical abilities. Capable of creating professional quality digital media graphics for websites, using Adobe products.</p>

<h3>Skills</h3>

<ul>
	<li>Long term experience in desktop operating systems, Windows 95/98/2000/XP. Basic knowledge of FreeBSD operating system.</li>
	<li>Experienced in development of modular .NET assemblies for use in Windows, web and web services.</li>
	<li>Long term knowledge of N-tier ASP development using COM+ and MSSQL stored procedures.</li>
	<li>Design and development of relational databases using MSSQL and MySQL for heavy use in a production environment.</li>
	<li>Solid experience in developing interactive, standards compliant, HTML/XHTML and JavaScript based websites.</li>
	<li>Good understanding of Adobe Photoshop, Imageready and Illustrator</li>
	<li>Competent skills in Delphi 6 coding.</li>
	<li>Basic understanding of C++/C</li>
	<li>Proficient in learning new applications and tools quickly.</li>
</ul>

<h3>Achievements</h3>

<ul>
	<li>Development of a resilient Windows service for polling game servers, developed in .NET, using a MSSQL backend, capable of processing up to 90,000 queries a day and supporting multiple game types. Including both real time monitoring and statistic archive.</li>
	<li>Design and implementation of a large-scale gaming website for a membership of 70,000 users. With full content and site asset management admin areas.</li>
	<li>Creation of a web chat front-end written entirely in JavaScript, interfacing with a backend 3rd party IRC web server.</li>
	<li>Construction of an online gaming lobby, integrating webchat and rooms with a 3rd party internet explorer bar for game launching.</li>
	<li>Developed a set of Quake 2 levels as a hobby and had them selected by iD software to go on an expansion pack for Quake 2, to be distributed worldwide as an official add-on.</li>
</ul>

<h3>Career Summary</h3>

<dl>
	<dt>March 01 - January 04<br>
	<b>Web Development and Design, GAME Digital Ltd</b></dt>
	<dd>Developed a wide range of web applications including multiple Content Management Systems, Game Ladders and gameserver reporting tools. Developed a .NET based game query windows service used for polling and logging current gameserver usage. Also did graphical work for the website.</dd>
	<dt>February 01<br>
	<b>Web Development, Freelance</b></dt>
	<dd>Developed a backend ASP/MSSQL solution for Emap, for managing website assets. Created a tree based cataloguing system for Cambridge University Law Department for storing law documents.</dd>
	<dt>May 00 - January 01<br>
	<b>Web Development and Design, BarrysWorld</b></dt>
	<dd>Developed a bespoke content engine for building and managing the main website in ASP/COM+/MSSQL. Designed the graphical layout and structure of the website. Developed a modular content engine in PHP/MySQL for use in user's hosted websites.</dd>
	<dt>July 98 - December 99<br>
	<b>Web Development and Design, Empathy Web</b></dt>
	<dd>Graphically designed and constructed various websites. Developed site management tools using ASP/Access</dd>
	<dt>Summer 1997<br>
	<b>CAD Engineer, Switchgear &amp; Instrumentations</b></dt>
	<dd>Created technical drawings in AutoCAD for the engineers as well as developed some bespoke menu tools for the engineers in AutoCAD.</dd>
</dl>

<h3>Education</h3>

<dl>
<dt>1998 - 2000<br>
<b>A-Level, Huddersfield Technical College</b></dt>
<dd>Computer Science, Physics, Maths AS-Level</dd>

<dt>1992 - 1998<br>
<b>GCSE, St John Fisher RC High School, Dewsbury</b></dt>
<dd>10 GCSE's</dd>

</dl>

<h3>Personal Summary</h3>
<p>A creative person with interests in anything that involves making something from nothing, including cooking, painting and programming. Interests and hobbies include, music, collecting movies for home cinema, fell walking, online gaming and communities and going to the cinema. Also helps care for sister, who has learning disabilities.</p>
<ul>
	<li>Date of birth, 20th April 1981</li>
	<li>Full driving license</li>
	<li>Own transportation (car)</li>
</ul>

<h3>References</h3>
<p>Available <a href="contact.php">on request</a>.</p>

<?PHP include("footer.inc.php"); ?>