<h3>Welcome</h3>
<img src="img/homefull.gif" alt="Home" width="84" height="75" border="0" class="intro" title="Home">

<p>I've not updated this site properly since I applied for my current job in 2003, if you want more up-todate or relevant information then send me an email. My main role currently is
  as a asp.net developer writing ecommerce and intranet web applications.</p>

  <p>Here's a brief overview of some of my skillset.</p>

  <div style="width:550px;">
    <div style="float:left;width:250px;margin : 0px;">
      <ul class="emplist" style="width:200px;">
        <li>.NET</li>
        <li>SQL Server</li>
      </ul>
    </div>
    <div style="float:right;text-align:left;width:250px;margin : 0px">
      <ul class="emplist" style="width:200px;">
        <li>HTML / XHTML / XML</li>
        <li>Javascript, AJAX</li>
      </ul>
    </div>
    <hr style="visibility:hidden;clear:both;">
  </div>

  <p>Please browse the site and if you feel my skills are required, <a href="#/contact">get in touch</a>.</p>
  
