
<h3><a href="#/portfolio">Portfolio</a> - GAME.NET</h3>
<img src="img/portfoliofull.gif" alt="Portfolio" width="88" height="75" border="0" class="intro" title="Portfolio">

<p>I worked at GAME.NET as both a developer and designer, the majority of my work was done in backend development but
I did get the opportunity to do some of the frontend design work on the website.</p>

<p>While at GAME I was also involved in continuing to do some work for the BarrysWorld website, you can find those images
in the <a href="#/portfolio_bw">BarrysWorld</a> section of the portfolio.</p>

<h3 class="clear">Images</h3>

<div class="images">
	<div class="border">
		<a href="img/portfolio/gamenet_portal.jpg"><img src="img/portfolio/gamenet_portal_s.gif" alt="GAME.NET Portal Page" width="70" height="50" border="0" title="GAME.NET Portal Page"></a>
	</div>

	<div class="border">
		<a href="img/portfolio/gamenet_gamemove.jpg"><img src="img/portfolio/gamenet_gamemove_s.gif" alt="BarrysWorld Move" width="70" height="50" border="0" title="BarrysWorld Move"></a>
	</div>

	<div class="border">
		<a href="img/portfolio/bw_webchat.jpg"><img src="img/portfolio/bw_webchat_s.gif" alt="Webchat" width="70" height="50" border="0" title="Webchat"></a>
	</div>
</div>

<p class="clear">&nbsp;</p>
