
<h3><a href="#/portfolio">Portfolio</a> - BarrysWorld</h3>
<img src="img/portfoliofull.gif" alt="Portfolio" width="88" height="75" border="0" class="intro" title="Portfolio">

<p>At BarrysWorld I was responsible for the main site design and its embeded images aswell as any adverts related to the website.</p>

<p>I also worked on a range of league and nation websites.</p>

<h3 class="clear">Site Images</h3>

<div class="images">
	<div class="border">
		<a href="gallery.php?image=bw_news.jpg"><img src="img/portfolio/bw_news_s.gif" alt="BarrysWorld News" width="70" height="50" border="0" title="BarrysWorld News"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_neville.jpg"><img src="img/portfolio/bw_neville_s.gif" alt="Neville" width="70" height="50" border="0" title="Neville"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_daocnation.jpg"><img src="img/portfolio/bw_daocnation_s.gif" alt="DAoCNation" width="70" height="50" border="0" title="DAoCNation"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bwt2l.jpg"><img src="img/portfolio/bw_bwt2l_s.gif" alt="BWT2L" width="70" height="50" border="0" title="BWT2L"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_guides.jpg"><img src="img/portfolio/bw_guides_s.gif" alt="Guides" width="70" height="50" border="0" title="Guides"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_barrybarinstaller.jpg"><img src="img/portfolio/bw_barrybarinstaller_s.gif" alt="BarryBar Splash" width="70" height="50" border="0" title="BarryBar Splash"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_clanserver.jpg"><img src="img/portfolio/bw_clanserver_s.gif" alt="Clanservers" width="70" height="50" border="0" title="Clanservers"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_forumsxmas2003.jpg"><img src="img/portfolio/bw_forumsxmas2003_s.gif" alt="Xmas 2003" width="70" height="50" border="0" title="Xmas 2003"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_forumsxmas2002.jpg"><img src="img/portfolio/bw_forumsxmas2002_s.gif" alt="Xmas 2002" width="70" height="50" border="0" title="Xmas 2002"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_merryxmas.jpg"><img src="img/portfolio/bw_merryxmas_s.gif" alt="Merry Xmas" width="70" height="50" border="0" title="Merry Xmas"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_hostedplugins.jpg"><img src="img/portfolio/bw_hostedplugins_s.gif" alt="Hosted Plugins" width="70" height="50" border="0" title="Hosted Plugins"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_erroroccured.jpg"><img src="img/portfolio/bw_erroroccured_s.gif" alt="Error Image" width="70" height="50" border="0" title="Error Image"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_gamequery.jpg"><img src="img/portfolio/bw_gamequery_s.gif" alt="GameQuery" width="70" height="50" border="0" title="GameQuery"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_smileyspin.gif"><img src="img/portfolio/bw_smileyspin_s.gif" alt="Spinning Smiley" width="70" height="50" border="0" title="Spinning Smiley"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_barbuttons.gif"><img src="img/portfolio/bw_barbuttons_s.gif" alt="BarryBar Buttons" width="70" height="50" border="0" title="BarryBar Buttons"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_pitechtrial.jpg"><img src="img/portfolio/bw_pitechtrial_s.gif" alt="Tech Trial" width="70" height="50" border="0" title="Tech Trial"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_pisubs.gif"><img src="img/portfolio/bw_pisubs_s.gif" alt="Subs" width="70" height="50" border="0" title="Subs"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_pisubs2.gif"><img src="img/portfolio/bw_pisubs2_s.gif" alt="Subs" width="70" height="50" border="0" title="Subs"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_pimegagame.gif"><img src="img/portfolio/bw_pimegagame_s.gif" alt="Megagame" width="70" height="50" border="0" title="Megagame"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_pibarrylogon.gif"><img src="img/portfolio/bw_pibarrylogon_s.gif" alt="BarryLogon" width="70" height="50" border="0" title="BarryLogon"></a>
	</div>
</div>

<p class="clear">&nbsp;</p>

<h3 class="clear">Banners / Adverts</h3>

<div class="images">

	<div class="border">
		<a href="gallery.php?image=bw_nationbanners.jpg"><img src="img/portfolio/bw_nationbanners_s.gif" alt="Nation Banners" width="70" height="50" border="0" title="Nation Banners"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_nationbuts.jpg"><img src="img/portfolio/bw_nationbuts_s.gif" alt="Nation Buttons" width="70" height="50" border="0" title="Nation Buttons"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_sw1stanim.gif"><img src="img/portfolio/bw_sw1stanim_s.gif" alt="Advert" width="70" height="50" border="0" title="Advert"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_smileybounce.gif"><img src="img/portfolio/bw_smileybounce_s.gif" alt="Smiley Bounce" width="70" height="50" border="0" title="Smiley Bounce"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannerexplode.gif"><img src="img/portfolio/bw_bannerexplode_s.gif" alt="Banner - Explode" width="70" height="50" border="0" title="Banner - Explode"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannerbu.gif"><img src="img/portfolio/bw_bannerbu_s.gif" alt="Banner - BeyondUnreal" width="70" height="50" border="0" title="Banner - BeyondUnreal"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannercs1.gif"><img src="img/portfolio/bw_bannercs1_s.gif" alt="Banner - BarryServers" width="70" height="50" border="0" title="Banner - BarryServers"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannercs2.gif"><img src="img/portfolio/bw_bannercs2_s.gif" width="70" height="50" alt="Banner - BarryServers" border="0" title="Banner - BarryServers"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannercs3.gif"><img src="img/portfolio/bw_bannercs3_s.gif" width="70" height="50" alt="Banner - BarryServers" border="0" title="Banner - BarryServers"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannercs4.gif"><img src="img/portfolio/bw_bannercs4_s.gif" width="70" height="50" alt="Banner - BarryServers" border="0" title="Banner - BarryServers"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannercamelot.gif"><img src="img/portfolio/bw_bannercamelot_s.gif" alt="Banner - Camelot" width="70" height="50" border="0" title="Banner - Camelot"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannermerc.gif"><img src="img/portfolio/bw_bannermerc_s.gif" alt="Banner - Merchandise" width="70" height="50" border="0" title="Banner - Merchandise"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=bw_bannersubs.gif"><img src="img/portfolio/bw_bannersubs_s.gif" alt="Banner - Subscriptions" width="70" height="50" border="0" title="Banner - Subscriptions"></a>
	</div>
</div>

<p class="clear">&nbsp;</p>
