
<h3><a href="#/portfolio">Portfolio</a> - Nadger</h3>
<img src="img/portfoliofull.gif" alt="Portfolio" width="88" height="75" border="0" class="intro" title="Portfolio">

<p>
Nadger is a small utility used for grabbing a colour from the screen and getting the hex value of it without the need
for some big expensive graphics editing utility. As most web developers know, hexidecimal colours are key to creating a good site.
</p>
<p>The creation of Nadger came about because I kept getting frustrated with the effort I had to goto to get a particular colour from
a graphic I had done. Previously it required loading up a graphics package and taking a screenshot to get the value from. Nadger does
this in 2 clicks! Once its loaded, right click on the task icon, select Pick Colour then simply click anywhere on the screen to get the value at
that point. Easy!
</p>

<h3 class="clear">Download</h3>
<ul>
	<li><a href="files/nadger-0.5.zip">Nadger 0.5</a></li>
</ul>


<h3 class="clear">Screenshot</h3>

<p>
<img src="img/portfolio/nadger_screen.gif" alt="Nadger Screenshot" width="470" height="329" border="0" title="Nadger Screenshot">
</p>

<p class="clear">&nbsp;</p>
