<h3><a href="portfolio.php">Portfolio</a> - Other Websites</h3>
<img src="img/portfoliofull.gif" alt="Portfolio" width="88" height="75" border="0" class="intro" title="Portfolio">

<h3 class="clear">Screenshots</h3>

<div class="images">

	<div class="border">
		<a href="gallery.php?image=other_brinx.jpg"><img src="img/portfolio/other_brinx_s.gif" alt="brinx.org" width="70" height="50" border="0" title="brinx.org"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=other_damini.jpg"><img src="img/portfolio/other_damini_s.gif" alt="Louise Arnold" width="70" height="50" border="0" title="Louise Arnold"></a>
	</div>

	<div class="border">
		<a href="gallery.php?image=other_dotnetweblogs1.jpg"><img src="img/portfolio/other_dotnetweblogs1_s.gif" alt="DotNetWeblogs" width="70" height="50" border="0" title="DotNetWeblogs"></a>
	</div>

</div>

<p class="clear">&nbsp;</p>
