<h3>Portfolio</h3>
<img src="img/portfoliofull.gif" alt="Portfolio" width="88" height="75" border="0" class="intro" title="Portfolio">

<p>This is my portfolio of work spanning across the majority of websites and projects I've worked on. Obviously it's a little
difficult to showcase any of my backend coding, but for a good overview of my capabilities, check out my <a href="cv.php" title="Curriculum Vitae">CV</a>.</p>

<h3 style="clear:both">Websites</h3>

<div class="picrow">
	<a href="portfolio_game.php" class="pic"><img src="img/portfolio/gamenet_portal_s.gif" width="70" height="50" alt="GAME.NET Portfolio" border="0"></a>
	<p class="desc">
	<b><a href="portfolio_game.php">GAME.NET</a></b><br>
	The main game multiplayer website, although not the original designer, I developed the structure and HTML
	for the website and later on re-designed part of it.
	</p>
</div>

<div class="picrow">
	<a href="portfolio_bw.php" class="pic"><img src="img/portfolio/bw_news_s.gif" width="70" height="50" alt="BarrysWorld Portfolio" border="0"></a>
	<p class="desc">
	<b><a href="portfolio_bw.php">BarrysWorld</a></b><br>
	At BarrysWorld I developed and designed both the main website and a range of hosted websites also.
	</p>
</div>

<div class="picrow">
	<a href="portfolio_other.php" class="pic"><img src="img/portfolio/other_brinx_s.gif" width="70" height="50" alt="Other Websites" border="0"></a>
	<p class="desc">
	<b><a href="portfolio_other.php">Other Sites</a></b><br>
	A selection of other websites I've designed for others.
	</p>
</div>

<p class="clear">&nbsp;</p>

<h3 style="clear:both">Applications</h3>

<div class="picrow">
	<a href="portfolio_nadger.php" class="pic"><img src="img/portfolio/nadger_splash_s.gif" width="70" height="50" alt="Nadger" border="0"></a>
	<p class="desc">
	<b><a href="portfolio_nadger.php">Nadger</a></b><br>
	An inappropriately named application for selecting colours from the desktop.
	</p>
</div>

<p class="clear">&nbsp;</p>

<h3 style="clear:both">Code</h3>

<ul>

<li><a href="/code/js/listmenu/">Javascript Listmenu</a></li>
<li><a href="/code/js/rollover/">Javascript Rollover</a></li>

</ul>

<p class="clear">&nbsp;</p>

<h3 style="clear:both">Miscellanous</h3>

<div class="picrow">
	<a href="portfolio_q2.php" class="pic"><img src="img/portfolio/q2_trdm06a_s.gif" width="70" height="50" alt="Quake 2 Levels" border="0"></a>
	<p class="desc">
	<b><a href="portfolio_q2.php">Quake 2 Levels</a></b><br>
	Six Quake 2 levels I developed as a hobby, chosen by ID Software to be included on an official expansion pack for Quake 2.
	</p>
</div>

<div class="picrow">
	<a href="portfolio_unused.php" class="pic"><img src="img/portfolio/unused_desert_s.gif" width="70" height="50" alt="Quake 2 Levels" border="0"></a>
	<p class="desc">
	<b><a href="portfolio_unused.php">Unused Images</a></b><br>
	A collection of random images and unused or old website concepts.
	</p>
</div>



<p class="clear">&nbsp;</p>
