<h3><a href="#/portfolio">Portfolio</a> - Quake 2 Levels</h3>
<img src="img/portfoliofull.gif" alt="Portfolio" width="88" height="75" border="0" class="intro" title="Portfolio">

<p>These Quake 2 levels were developed as a hobby in 1998/99 for use in the massively popular game Quake 2 by ID Software. The levels proved
so popular that ID software approached me and asked if they could be included on an official expansion pack for Quake 2.

</p>

<h3 class="clear">Download</h3>
<ul>
	<li><a href="files/trdm01a.zip">Sepulchre - trdm01a</a></li>
	<li><a href="files/trdm02a.zip">Shadows and Imaginings - trdm02a</a></li>
	<li><a href="files/trdm03a.zip">Tribute - trdm03a</a></li>
	<li><a href="files/trdm04a.zip">Unknown Domain - trdm04a</a></li>
	<li><a href="files/trdm05a.zip">Vertical Asylum - trdm05a</a></li>
	<li><a href="files/trdm06.zip">Impurity - trdm06</a></li>
</ul>

<p>Quake 2 is required to play these levels.</p>

<h3 class="clear">Screenshots</h3>

<div class="images">
	<div class="border"><a href="img/portfolio/q2_extremities.jpg"><img src="img/portfolio/q2_extremities_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm01a.jpg"><img src="img/portfolio/q2_trdm01a_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm01b.jpg"><img src="img/portfolio/q2_trdm01b_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm01c.jpg"><img src="img/portfolio/q2_trdm01c_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm02a.jpg"><img src="img/portfolio/q2_trdm02a_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm02b.jpg"><img src="img/portfolio/q2_trdm02b_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm02c.jpg"><img src="img/portfolio/q2_trdm02c_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm03a.jpg"><img src="img/portfolio/q2_trdm03a_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm03b.jpg"><img src="img/portfolio/q2_trdm03b_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm03c.jpg"><img src="img/portfolio/q2_trdm03c_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm04a.jpg"><img src="img/portfolio/q2_trdm04a_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm04b.jpg"><img src="img/portfolio/q2_trdm04b_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm04c.jpg"><img src="img/portfolio/q2_trdm04c_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm05a.jpg"><img src="img/portfolio/q2_trdm05a_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm05b.jpg"><img src="img/portfolio/q2_trdm05b_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm05c.jpg"><img src="img/portfolio/q2_trdm05c_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm06a.jpg"><img src="img/portfolio/q2_trdm06a_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm06b.jpg"><img src="img/portfolio/q2_trdm06b_s.gif" width="70" height="50" alt="" border="0"></a></div>
	<div class="border"><a href="img/portfolio/q2_trdm06c.jpg"><img src="img/portfolio/q2_trdm06c_s.gif" width="70" height="50" alt="" border="0"></a></div>
</div>

<p class="clear">&nbsp;</p>
